<!DOCTYPE html>
<html>
<head>
  <title>Tải lên file Excel</title>
</head>
<body>
  <h1>Tải lên file Excel</h1>
  <form action="/upload" method="POST" enctype="multipart/form-data">
    <input type="file" name="excelFile" accept=".xlsx">
    <button type="submit">Tải lên</button>
  </form>
</body>
</html>