<style>
.container {
  position: relative;
  max-width: 500px;
  width: 100%;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.container header {
  font-size: 1.2rem;
  color: #000;
  font-weight: 600;
  text-align: center;
}

.container .form {
  margin-top: 15px;
}

.form .input-box {
  width: 100%;
  margin-top: 10px;
}

.input-box label {
  color: #000;
}

.form :where(.input-box input, .select-box) {
  position: relative;
  height: 35px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #808080;
  margin-top: 5px;
  border: 1px solid #1cbda8;
  border-radius: 6px;
  padding: 0 15px;
  background: #fff;
}

.input-box input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.form .column {
  display: flex;
  column-gap: 15px;
}

.form .gender-box {
  margin-top: 10px;
}

.form :where(.gender-option, .gender) {
  display: flex;
  align-items: center;
  column-gap: 50px;
  flex-wrap: wrap;
}

.form .gender {
  column-gap: 5px;
}

.gender input {
  accent-color: #34b0eed0;
}

.form :where(.gender input, .gender label) {
  cursor: pointer;
}

.gender label {
  color: #000;
}

.address :where(input, .select-box) {
  margin-top: 10px;
}

.select-box select {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #808080;
  font-size: 1rem;
  background: #fff;
}

.form button {
  height: 40px;
  width: 100%;
  color: #000;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s ease;
  background: #34b0eed0;
}

.form button:hover {
  background: #fff;
}
</style>

<section class="container">
  <header>Internship introduction letter</header>
  <form class="form" method="POST" action="/student/form/store">
      <div class="column">
          <div class="input-box">
            <label>Id</label>
            <input required=""  type="text" name="id" id="id">
          </div>
          <div class="input-box">
            <label>First name</label>
            <input required=""  type="text" name="fistName" id="firstName">
          </div>
          <div class="input-box">
            <label>Last name</label>
            <input required="" type="text" name="lastName" id="lastName">
          </div>
      </div>
      <div class="column">
          <div class="input-box">
            <label>Class</label>
            <input required="" type="text" name="class" id="class">
          </div>
          <div class="input-box">
            <label>Majors</label>
            <input required="" type="text" name="majors" id="majors">
          </div>
          <div class="input-box">
            <label>Course</label>
            <input required=""  type="text" name="key" id="key">
          </div>
      </div>
      <div class="column">
        <div class="input-box">
          <label>Birth Date</label>
          <input required="" type="date" id="birthDay">
        </div>
      </div> 
      <div class="gender-box">
        <label>Gender</label>
        <div class="gender-option">
          <div class="gender">
            <input name="gender" id="check-male" type="radio" value="male">
            <label for="check-male">Male</label>
          </div>
          <div class="gender">
            <input name="gender" id="check-female" type="radio" value="female">
            <label for="check-female">Female</label>
          </div>
        </div>
      </div>

      <div class="input-box">
        <label>Enterprise</label>
        <input required="" type="text" name="enterprise" id="enterprise">
      </div>
      <div class="input-box">
        <label>Job description</label>
        <input required="" type="text" name="description" id="description">
      </div>
      <button type="submit">Submit</button>
    </form>
</section>


