{{!-- <style>
.container {
  display: flex;
  gap: 20px;
  padding-top: 20px;
  padding-left: 40px;
}

.card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  padding: 32px;
  overflow: hidden;
  border-radius: 10px;
  background: #212121;
  border: 2px solid #313131;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  color: #e8e8e8;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.content .heading {
  font-weight: 700;
  font-size: 32px;
}

.content .para {
  line-height: 1.5;
}

.content .btn {
  color: #e8e8e8;
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  background: #0974f1;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.card:hover {
  box-shadow: 0 0 20px rgba(9, 117, 241, 0.8);
  border-color: #0974f1;
}

.content .btn:hover {
  outline: 2px solid #e8e8e8;
  background: transparent;
  color: #e8e8e8;
}

.content .btn:active {
  box-shadow: none;
}

</style> --}}
<div class="container">
  <div class="card">
    <div class="card-body">
      <p class="card-text">Giảng viên hướng dẫn : <span id="last-name-lecturer"> </span> <span id="first-name-lecturer"> <span id="email-lecturer"> </span></p>
      <p class="card-text">Doanh nghiệp thực tập :  <span id="name-enterprise"> </span></p>
      <p class="card-text">Mã Môn Nhóm : <span id="internship-manh"></span></p>
      <p class="card-text">Mã Môn Học : <span id="internship-mamh"></span></p>
      <p class="card-text">Tên Môn Học : <span id="internship-tenmh"></span></p>

    </div>
  </div>

</div>

<script>

const data = localStorage.getItem('userData');
const dateUser = JSON.parse(data);
const dataI = localStorage.getItem('internshipData');
const dataInternship = JSON.parse(dataI);
axios.get(`http://localhost:3000/student/get-one-internship/${dateUser.username}`)
  .then(function (response) {
    const internship = response.data;

    document.getElementById('internship-manh').textContent = internship.f_manh;
    document.getElementById('internship-mamh').textContent = internship.f_mamh;
    document.getElementById('internship-tenmh').textContent = internship.f_tenmhvn;

    axios.get(`http://localhost:3000/student/get-one-lecturer/${internship.f_msgv}`)
      .then(function (response) {
        const lecturer = response.data
        document.getElementById('first-name-lecturer').textContent = lecturer.firstName;
        document.getElementById('last-name-lecturer').textContent = lecturer.lastName;
        document.getElementById('id-lecturer').textContent = lecturer.id; 
      })
      .catch(function (error) {
        console.error('Đã xảy ra lỗi trong yêu cầu :', error);
      });

      axios.get(`http://localhost:3000/student/get-one-enterprises/${internship.f_msdn}`)
      .then(function (response) {
        const enterprise = response.data
        document.getElementById('name-enterprise').textContent = enterprise.name;

      })
      .catch(function (error) {
        console.error('Đã xảy ra lỗi trong yêu cầu:', error);
      });
  
  })
  .catch(function (error) {
    console.error('Đã xảy ra lỗi:', error);
  });


</script>

