
  <style>
    .profile-container {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
      font-family: Arial, sans-serif;
    }

    .profile-header {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
    }

    .profile-image {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 20px;
    }

    .profile-info {
      font-size: 18px;
    }

    .profile-introduction {
      margin-bottom: 20px;
    }

    .profile-courses {
      margin-bottom: 20px;
    }

    .course-item {
      margin-bottom: 10px;
    }
  </style>
<div>
  <div class="profile-container">
    <div class="profile-header">
      <img src="https://lh3.googleusercontent.com/lITWrBmk17F1fVAb1tDGFnnNaNWvPGV7r-KKQO7QHyFUXglCYIF4nKPC_z7K-XnEL47I29l2OY8LaqQRR67iV_0eCKU=s189" alt="Profile Image" class="profile-image">
      <div class="profile-info">
        <h1><strong>Tên:</strong> <span id="student-last-name"></span> <span id="student-first-name"></span></h1>
        <p><strong>ID:</strong> <span id="student-id"></span></p>
        <p><strong>Khóa</strong> <span id="student-key"></span></p>
      </div>
    </div>

    <div class="profile-introduction">
      <h2>Giới thiệu</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tincidunt velit sed luctus accumsan. Nam vel diam ante. Sed non lorem odio. Sed vulputate auctor elit, non consequat tellus pulvinar sed. Nulla facilisi.</p>
    </div>



    <!-- Thêm thông tin sinh viên khác tại đây -->
  </div>

</div>
<script>
// Gọi yêu cầu Ajax để lấy dữ liệu từ máy chủ
const data = localStorage.getItem('userData');
const dateUser = JSON.parse(data);

axios.get(`http://localhost:3000/student/get-one/${dateUser.username}`)
  .then(function (response) {
    const student = response.data;
    const id = student.id
    const firstName = student.firstName
    // Cập nhật thông tin trong phần tử HTML
    document.getElementById('student-id').textContent = student.id;
    document.getElementById('student-first-name').textContent = student.firstName;
    document.getElementById('student-last-name').textContent = student.lastName;
    document.getElementById('student-key').textContent = student.key;
  })
  .catch(function (error) {
    console.error('Đã xảy ra lỗi:', error);
  });

axios.get(`http://localhost:3000/student/get-one/${dateUser.username}`)
  .then(function (response) {
    const student = response.data;
    const id = student.id
    const firstName = student.firstName
    // Cập nhật thông tin trong phần tử HTML
    document.getElementById('student-id').textContent = student.id;
    document.getElementById('student-first-name').textContent = student.firstName;
    document.getElementById('student-last-name').textContent = student.lastName;
    document.getElementById('student-key').textContent = student.key;
  })
  .catch(function (error) {
    console.error('Đã xảy ra lỗi:', error);
});
</script>

