<div class="header">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/student">Student</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-light" href="/student/form">Form</a>
          </li>
        </ul>

        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link text-light" href="/student/profile">Profile</a>
          </li>
        </ul>

        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link text-light" id="logout-link">Log out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>

document.getElementById("logout-link").addEventListener("click", function(event) {
    event.preventDefault();
    clearLocalStorage();
    window.location.href = "/";
});

function clearLocalStorage() {
  // Xóa tất cả dữ liệu trong Local Storage
  localStorage.clear();
}
</script>

