

<div>
  <nav class="nav" >
  <a class="nav-link" href="admin/students">Students</a>
  <a class="nav-link" href="admin/lecturers">Lecturers</a>
  <a class="nav-link" href="admin/enterprises">Enterprises</a>
  <a class="nav-link" href="admin/remindertime">Reminder Time</a>
  <a class="nav-link" href="admin/internships">Internships</a>
</nav>
</div>

